@charset "utf-8";

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    word-break: break-all;
    float: left;
    width: 100%;
    overflow: hidden;
}

/* 发布者 */
.vgapp_user_box {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    float: left;
    position: relative;
    border-bottom: 1px #ededed solid;
    background: #fff;
}

    .vgapp_user_box img {
        width: 40px;
        height: 40px;
        float: left;
        border-radius: 100%;
    }

.vgapp_ub_info {
    width: calc(100% - 100px);
    padding: 0 10px;
    float: left;
}

    .vgapp_ub_info .name {
        width: 100%;
        float: left;
        font-size: 14px;
        color: #2b2b2b;
        line-height: 20px;
    }

    .vgapp_ub_info .time {
        width: 100%;
        float: left;
        font-size: 12px;
        color: #9c9c9c;
        line-height: 20px;
    }

.vgapp_ub_op {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 15px;
    background-size: 30px 30px;
}

    .vgapp_ub_op[data-state="1"] {
        background-image: url(../img/1.png);
    }

    .vgapp_ub_op[data-state="2"] {
        background-image: url(../img/2.png);
    }

    .vgapp_ub_op[data-state="3"] {
        background-image: url(../img/3.png);
    }

/* 内容 */
.vgapp_article {
    width: 100%;
    float: left;
    background: #fff;
}

/* 短文 */
.vgapp_article_short {
    width: 100%;
    float: left;
    padding: 10px 15px;
    box-sizing: border-box;
}

.vgapp_as_content {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #2b2b2b;
    line-height: 20px;
    margin-bottom: 10px;
}

.vgapp_as_pic {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .vgapp_as_pic li {
        width: calc((100% - 10px)/3);
        float: left;
        list-style: none;
        margin: 0 5px 5px 0;
        position: relative;
        overflow: hidden;
    }

        .vgapp_as_pic li:nth-of-type(3n) {
            margin-right: 0;
        }

        .vgapp_as_pic li img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

    .vgapp_as_pic[data-size="1"],
    .vgapp_as_pic[data-size="2"],
    .vgapp_as_pic[data-size="4"] {
        width: 67%;
    }

        .vgapp_as_pic[data-size="1"] li {
            width: 100%;
            margin: 0;
        }

        .vgapp_as_pic[data-size="2"] li,
        .vgapp_as_pic[data-size="4"] li {
            width: calc((100% - 10px)/2);
            margin: 0 5px 5px 0;
        }

/* 长文 */
.vgapp_article_long h1 {
    font-size: 20px;
    line-height: 30px;
    color: #2b2b2b;
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0;
    padding: 0 15px;
    box-sizing: border-box;
}

.vgapp_article_editer {
    width: 100%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    margin: 10px 0;
}

    .vgapp_article_editer span {
        font-size: 12px;
        color: #9c9c9c;
        line-height: 20px;
        margin: 0 auto;
        background: #fff;
        position: relative;
        z-index: 10;
        padding: 0 10px;
    }

    .vgapp_article_editer:before {
        content: "";
        width: calc(100% - 30px);
        height: 1px;
        background: #ededed;
        position: absolute;
        top: 10px;
        left: 15px;
        z-index: 9;
    }

.vgapp_article_ques {
    width: 100%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    margin: 10px 0;
}

    .vgapp_article_ques span {
        font-size: 12px;
        color: #9c9c9c;
        line-height: 20px;
        margin: 0 auto;
        background: #fff;
        position: relative;
        z-index: 10;
        padding: 5px 10px 5px 38px;
        border: 1px #d8d8d8 solid;
        border-radius: 3px;
        outline: 5px solid #fff;
    }

        .vgapp_article_ques span:before {
            content: "";
            width: 16px;
            height: 16px;
            padding-right: 5px;
            border-right: 1px #d8d8d8 solid;
            position: absolute;
            top: 5px;
            left: 5px;
            background-image: url(../img/no_solve.png);
            background-size: 16px 16px;
            background-repeat: no-repeat;
        }

        .vgapp_article_ques span.resolve {
            border-color: #2abaca;
            color: #2abaca;
        }

            .vgapp_article_ques span.resolve:before {
                background-image: url(../img/solve.png);
                border-color: #2abaca;
            }

    .vgapp_article_ques:before {
        content: "";
        width: calc(100% - 30px);
        height: 1px;
        background: #ededed;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 9;
    }

/* 正文 */

/* 发布器样式 */
article figure {
    margin: 0;
}

article figcaption {
    font-size: 14px;
    color: #ccc;
    font-style: italic;
    line-height: 16px;
    outline: none;
    margin: 10px 0;
    display: none;
    text-align: center;
}

article {
    width: 100%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
}

    article p {
        font-size: 16px;
        line-height: 28px;
        color: #2b2b2b;
        background: none;
    }

    article img {
        max-width: 100% !important;
    }

    article ul, article ol {
        padding-left: 20px;
    }

        article ul, article ul li {
            list-style: disc;
            line-height: 24px;
        }

        article ol, article ol li {
            list-style: decimal;
            line-height: 24px;
        }

            article ul li, article ol li {
                margin-bottom: 10px;
            }

    article h2 {
        background: none;
    }

    article a {
        border-bottom: 4px solid #B1E9F4;
        text-decoration: none;
        color: #262626;
    }

    article blockquote {
        background: url(../img/blockquote.svg) no-repeat top left #fff;
        margin: 16px 0;
        padding: 20px 40px;
    }

    article .roundTable {
        width: 100%;
        display: inline-block;
        background-color: #F5F5F5;
        padding: 20px 15px;
        margin: 10px -15px;
    }

    article .rtd_box {
        width: 100%;
        float: left;
        margin: 10px 0;
        padding: 0 0 0 0;
        position: relative;
        transition: display 0.3s;
    }

        article .rtd_box .rtd_pic {
            width: 60px;
            float: left;
        }

            article .rtd_box .rtd_pic img {
                width: 70%;
                float: left;
                margin-right: 30%;
            }

    article .rtd_right .rtd_pic img {
        width: 70%;
        float: left;
        margin-left: 30%;
    }

    article .rtd_box .rtd_content {
        max-width: calc(100% - 60px);
        min-width: 180px;
        box-sizing: border-box;
        float: left;
        padding: 10px;
        background: #fff;
        border-radius: 3px;
        position: relative;
        box-shadow: 0 3px 10px 0 rgb(0,0,0);
        box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3);
        font-size: 16px;
        line-height: 20px;
        outline: none;
        cursor: text;
        margin: 0;
    }

        article .rtd_box .rtd_content p {
            padding: 0;
            font-size: 16px;
            line-height: 20px;
            margin: 0;
        }